.post-in-posts {
    height: 450px;
}

.box-post {
    top: 20rem;
    height: 8.5rem;
}

.row {
    a:hover {
        text-decoration: none;
    }
}

.background-blog {
    height: 75vh;
    background-image: url('/img/pexels-format-1029757.jpg');
}
.container-single-blog {
    min-height: 100vh;
}


.single-box-post {
    min-height: 50vh;
}

