.container-backgroud {
    
    height: 95vh;
}

.container-backgrond-city {
    background-image: url('/img/pexels-elina-sazonova-1907046.jpg');
}

.container-backgrond-error {
    background-image: url(/img/pexels-alleksana-4271933.jpg);
}